#NavBarMain{
    background: #020017;
    --bs-bg-opacity: 1;
    display: flex;
    justify-content: space-between;
}

#NavSignIn{
    border-radius: 4px;
    background: #edd68a;
    padding: 10px 22px;
    color: #000000;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    margin: 16px;
}

#NavColor{
    background: #020017;
}

#NavBarSignIn{
    padding-right: 1rem;
}

#NavBarLogoSign{
    margin-left: 24px;
    color:#edd68a;
}

#NavToggle{
    margin-right: 40px;
}

#navbar-Border{
    border-style: solid;
    border-radius: 20px;
    border-color: #400480;
  }